:root {
  --font-abaddon: 'Abaddon', sans-serif;
  --font-special-elite: 'SpecialElite', sans-serif;
}

@font-face {
  font-family: 'Abaddon';
  font-style: normal;
  font-weight: normal;
  src: local('Abaddon'), url('/fonts/abaddon.woff') format('woff');
}

@font-face {
  font-family: 'SpecialElite';
  font-style: normal;
  font-weight: normal;
  src: local('Abaddon'), url('/fonts/special-elite.woff') format('woff');
}
